
@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    
}

@media screen and (max-width: 992px) {
    .section {
        margin: 0 5rem; /* Reduce margins for smaller screens */
    }

    .section-container {
        flex-direction: column;
    }

    #profile {
        flex-direction: column;
        height: auto;
    }

    .section_pic-container {
        width: 100%; /* Ensure image fits within the container */
        height: auto; /* Maintain aspect ratio */
    }

    .btn-container {
        flex-direction: column;
    }

    .about-details-container,
    .experience-education-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .section {
        margin: 0 2rem; /* Further reduce margins */
    }

    .nav-links {
        font-size: 1.2rem; /* Smaller font size for navigation links */
    }

    .hamburger-icon {
        width: 25px; /* Adjust size for smaller screens */
        height: 20px;
    }

    .hamburger-icon span {
        height: 1.5px; /* Adjust thickness */
    }

    #contact {
        padding: 1.5rem;
    }

    .contact-section h2 {
        font-size: 2rem;
    }

    .contact-section form {
        width: 90%;
    }

    .contact-section label {
        font-size: 1rem;
    }

    .contact-section input,
    .contact-section textarea {
        font-size: 0.9rem;
    }

    .contact-section textarea {
        height: 5rem;
    }

    .contact-section button {
        padding: 0.7rem 0.9rem;
        font-size: 1rem;
    }

    .about-containers,
    .experience-education-container {
        gap: 1rem; /* Reduce gap between containers */
    }
}

@media screen and (max-width: 480px) {
    .nav-links {
        font-size: 1rem; /* Smaller font size for navigation links */
    }

    .title {
        font-size: 1.5rem; /* Smaller title font size */
    }

    .btn {
        font-size: 0.9rem; /* Smaller button font size */
        padding: 0.8rem; /* Reduce padding */
    }

    #contact {
        padding: 1.5rem;
    }

    .contact-section h2 {
        font-size: 2rem;
    }

    .contact-section form {
        width: 90%;
    }

    .contact-section label {
        font-size: 1rem;
    }

    .contact-section input,
    .contact-section textarea {
        font-size: 0.9rem;
    }

    .contact-section textarea {
        height: 5rem;
    }

    .contact-section button {
        padding: 0.7rem 0.9rem;
        font-size: 1rem;
    }

    .project-image {
        width: 100%; /* Ensure images fit within the container */
    }
}

