/* General styling */
* {
    margin: 0;
    padding: 0;
   /* box-sizing: border-box;*/
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/wp2903050-2438088562.jpg'); /* Path to your image */
    background-size: cover; /* Scale the background image to cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

html{
    scroll-behavior: smooth;
}

p{
    color: grey;
}

.header{
    background-color: black;
    color: white;
}
 
/* Transition*/
a,.btn{
    transition: all 300ms ease;
}

/* Navigation*/
nav,.nav-links {
    display: flex;   
}

nav{
    justify-content: space-around;
    align-items: center; /* Center align each item */
    height: 20vh;
    
}

.nav-links{
    gap: 2em;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}
.slash {
    color: darkgreen; /* Make the slashes green */
}

a:hover {
    /*Colour of text when hovering over navigation bar*/
    color: #f0a500;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}

/*Hamburger menu*/

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out; /* Correct transition */
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Correct transition */
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out; /* Optional transition for background color */
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px; /* Adjust as needed */
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
    opacity: 1;
}


section{
padding-top: 4vh;
height: 96vh;
margin: 0 10rem;
box-sizing: border-box;
min-height: fit-content;
}

.section-container{
    display: flex;
}

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section_pic-container{
    display: flex;
    height: 300px;
    width: 270px;
    margin: auto 0;
}

.section_text{
    align-self: center;
    text-align: center;
}

.section_text p{
    font-weight: 600;
}

.section_text_p1{
    text-align: center;
}

.section_text_p2{
   font-size: 1.75rem;
   margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
}

#socials_container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/*Icons*/
.icon{
    cursor: pointer;
    height: 3rem;
    
}

/*Buttons*/

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2{
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover{
   background-color: rgb(53,53,53);
   color: white;
}

.btn-color-1:hover{
    background: black;
}

.btn-color-2{
    background: none;
}

.btn-color-2:hover{
   border: rgb(255,255,255);
}

.btn-container{
    gap: 1rem;
}

/* Make the image round */
.round-image {
    border-radius: 50%;
    width: 100%;
    height: auto;
}


/* Default Styles for Larger Screens */
#about {
    padding: 2rem;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Space between sections */
}

.about-details-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-containers {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Space between containers */
}

.Personal_Statement-container {
    padding: 1.5rem;
    background: white;
    border-radius: 1rem;
    border: 0.0625rem solid #ddd;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Personal_Statement-container img.icon {
    height: 2rem; /* Adjust as needed */
    width: 2rem; /* Adjust as needed */
}

.details-content {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.5rem 1rem; /* Adjust spacing */
}

.detail-item {
    display: contents;
}

.detail-title {
    font-weight: bold;
}

.detail-info {
    margin-left: 1rem;
}

.experience-education-container {
    display: flex;
    gap: 2rem; /* Space between containers */
}

.Experience-container, .Education-container {
    padding: 5rem;
    background: white;
    border-radius: 1rem;
    border: 0.0625rem solid #ddd;
    text-align: left;
    display: flex;
    align-items: top;
    gap: 1rem;
    flex: 1; /* Allow containers to grow and shrink */
}

.Experience-container img.icon, .Education-container img.icon {
    height: 2rem; 
    width: 2rem; 
}

.icon {
    cursor: pointer;
    height: 2rem; /* Adjust the size as needed */
    width: 2rem; /* Adjust the size as needed */
    border-radius: 50%; /* Make the image round */
    object-fit: cover; /* Ensure the image fits within the round shape */
    margin-bottom: 1rem; 
}

/* Media Query for Small Screens */
@media screen and (max-width: 375px) {

    #about {
        padding: 1rem; /* Reduced padding */
    }

    .section-container {
        gap: 1rem; /* Reduced space between sections */
    }

    .about-details-container {
        gap: 1rem; /* Reduced space between details */
    }

    .about-containers {
        gap: 1rem; /* Reduced space between containers */
    }

    .Personal_Statement-container {
        padding: 1rem; /* Reduced padding */
        flex-direction: column; /* Stack items vertically */
        gap: 0.5rem; /* Reduced space between items */
    }

    .Personal_Statement-container img.icon {
        height: 1.5rem; /* Adjusted size */
        width: 1.5rem; /* Adjusted size */
    }

    .details-content {
        grid-template-columns: 1fr; /* Stack items vertically */
        gap: 0.5rem; /* Adjust spacing */
    }

    .detail-info {
        margin-left: 0; /* Removed margin */
    }

    .experience-education-container {
        flex-direction: column; /* Stack containers vertically */
        gap: 1rem; /* Reduced space between containers */
    }

    .Experience-container, .Education-container {
        padding: 1rem; /* Reduced padding */
        gap: 0.5rem; /* Reduced space between items */
    }

    .Experience-container img.icon, .Education-container img.icon {
        height: 1.5rem; /* Adjusted size */
        width: 1.5rem; /* Adjusted size */
    }

    .icon {
        height: 1.5rem; /* Adjusted size */
        width: 1.5rem; /* Adjusted size */
    }
}

/* Skiils section styling */

.skills-content{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
}

/* Default Styles */
.legend {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.legend-text {
    font-size: 1rem;
}

#chart_div {
    width: 100%; /* Take up the full width of the container */
    height: auto; /* Adjust height automatically */
    max-width: 300px; /* Maximum width for iPhone SE */
    max-height: 300px; /* Set a maximum height */
    margin: 0 auto; /* Center the chart */
}




/* Projects section styling */
#projects {
    padding: 2rem 1rem;
    
}

.section_text_p1 {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: black;
}

.experience-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0.5rem;
}

.details-container {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(250,250,250);
}

.article-container {
    text-align: center;
}

.project-image {
    border-radius: 2rem;
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.project-btn {
    padding: 0.5rem 1rem;
    color: black;
    border: 0.0625rem solid rgb(163,163,163);
    background-color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-btn:hover {
    background-color: rgb(163,163,163);
    color: white;
}



/* Contact section styling */
#contact {
     /* Dark background for a tech feel */
    background-size: 50px 100px;
    padding: 2rem ;
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

.contact-section h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
    color: black; /* Tech-themed accent color */
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
}

.contact-section label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: black;
    align-self: flex-start;
}

.contact-section input, 
.contact-section textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    color: #f0f0f0;
    font-size: 1rem;
    outline: none;
    box-shadow: inset 0 0 0.3125rem #00ffcc;
}

.contact-section textarea {
    height: 6.25rem;
    resize: none;
}

.contact-section button {
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    color: #1e1e1e;
    background-color: #00ffcc;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-section button:hover {
    background-color: #00cc99;
    transform: translateY(-3px);
}

.contact-section button:active {
    background-color: #009977;
    transform: translateY(0);
}

/*Footer*/
.footer {
    background-color: black;
    padding: 1rem; /* Padding around footer content */
    text-align: center; /* Center text inside footer */
}

.footer nav {
    margin-bottom: 1rem; /* Space between nav and copyright text */
}

.nav-links-container {
    display: flex;
    justify-content: center; /* Center nav links horizontally */
    margin-bottom: 1rem; /* Space between nav and copyright text */
}

.nav-links {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display links in a row */
    gap: 1rem; /* Space between links */
}

.nav-links li {
    margin: 0; /* Remove default margin */
}

.nav-links a {
    text-decoration: none; /* Remove underlines from links */
    color: white; /* Text color */
    font-size: 1rem; /* Font size for links */
    transition: color 0.3s; /* Smooth color transition */
}

.nav-links a:hover {
    color: #aaa; /* Change color on hover */
}

.footer p {
    color: white;
    margin: 0; /* Remove default margin */
}

/* Media Query for Small Screens */
@media screen and (max-width: 375px) {
    .footer {
        padding: 1rem; /* Padding around footer content */
    }

    .nav-links-container {
        flex-direction: column; /* Stack links vertically on small screens */
        gap: 0.5rem; /* Space between links */
    }

    .nav-links {
        flex-direction: column; /* Stack links vertically on small screens */
        gap: 0.5rem; /* Space between links */
    }

    .nav-links a {
        font-size: 1.2rem; /* Slightly larger text for small screens */
    }
}





/* Scroll to top button styling */
#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0a0a0a;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}


#scrollToTop:hover {
    background-color: #333;
    transform: scale(1.1);
}

#scrollToTop i {
    font-size: 1.5em;
}

/* Initial state: Hidden and transparent */
.element {
    opacity: 0;
    transition: opacity 1s ease-in;
}

/* Final state: Fully visible */
.element.visible {
    opacity: 1;
}




